/* Style the whole page */
html{
    height: 100%;
    background: radial-gradient(circle, #fff, #ccc); /* White to gray */
}

#container{
    height: 400px;
    width: 500px;
    background-color: #9DD2EA;
    margin: 100px auto;
    padding: 20px; 
    border-radius: 10px; /* Rounds the corners */
    box-shadow: 4px 4px 0px 0px #009de4;
    -moz-box-shadow: 4px 4px 0px 0px #009de4; /* Mozilla */
    -webkit-box-shadow: 4px 4px 0px 0px #009de4; /* Safari */
    position: relative;
}

/* Score Box */
#score{
    background-color: #F1FF92;
    color: #888E5F; /* Text Color */
    padding: 11px;
    position: absolute;
    left: 450px;
    border-radius: 5px;
    box-shadow: 0px 4px #F8CDA0;
}

/* Correct Box */
#correct{
    position: absolute;
    left: 235px;
    background-color: #70EE49;
    color: white;
    padding: 13px;
    display: none; /* Hides the box */
}

/* Wrong Box */
#wrong{
    position: absolute;
    left: 230px;
    background-color: #E93223;
    color: white;
    padding: 13px;
    display: none; /* Hides the box */
}

#question {
    width: 400px;
    height: 150px;
    margin: 50px auto 10px auto;
    background-color: #9DA0EA;
    box-shadow: 2px 4px #535aa8;
    font-size: 100px;
    text-align: center; 
    font-family: sans-serif;
    color: black;
}

#instruction {
    width: 400px;
    height: 50px;
    background-color: #B481D9;
    margin: 10px auto;
    text-align: center;
    line-height: 45px; /* Brings the text down (moves vertical) */
    box-shadow: 2px 4px #8153a8;
}

#choices{
    width: 400px;
    height: 100px;
    margin: 5px auto;
}

.box{
    width: 85px;
    height: 85px;
    background-color: white;
    float: left; /* Makes them reposition sideways */
    margin-right: 20px;/* Add gaps between the boxes */
    box-shadow: 2px 4px #B0C4DE;
    border-radius: 3px;
    cursor: pointer;
    line-height: 80px; /* Works after you use text-align */
    text-align: center;
    position: relative;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s; /* Mozilla */
    -o-transition: all 0.2s; /* Opera */
    -ms-transition: all 0.2s; /* Microsoft */
}

#box4{
    margin-right: 0; /* Adds Margin to the last box */
}

/* When cursor hovers over */
.box:hover,  #startReset:hover{
    background-color: #9C89F6;
    color: white; /* Change text to white */
}

/* When the box is clicked, it will move like it's getting pressed */
.box:active, #startReset:active {
    box-shadow: 0px 0px #6b54d3;
    top: 4px;
}

#startReset{
    width: 80px;
    padding: 10px;
    background-color: rgba(255,255,255,0.5);
    margin: 0 auto;
    box-shadow: 2px 4px #B0C4DE;
    border-radius: 3px;
    cursor: pointer;
    text-align: center;
    position: relative;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s; /* Mozilla */
    -o-transition: all 0.2s; /* Opera */
    -ms-transition: all 0.2s; /* Microsoft */
}

#timeRemaining{
    width: 163px;
    padding: 10px;
    position: absolute;
    top: 395px;
    left: 345px;
    background-color: rgba(181, 235, 36, 0.8);
    border-radius: 3px;
    box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
   /* visibility: hidden;  Will still be present */
    display: none;
}